</body>

<footer class="text-center text-lg-start bg-light text-muted">
    <hr id="spacer">
    <section class="row d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="col col-2"></div>
        <div class="col col-4 me-5 d-none d-lg-block">
            <span id="bod">Get connected with me on social media:</span>
        </div>
        <div class="col col-4">
            <a class="noUnderline me-4 text-reset"
                href="https://www.linkedin.com/in/mitchell-duffy-678781205/" role="button">
                <i id="linked" class="fa-brands fa-linkedin fa-lg"></i>
            </a>
            <a class="noUnderline me-4 text-reset" href="https://www.instagram.com/duffymitch12/"
                role="button">
                <i id="insta" class="fa-brands fa-instagram fa-lg"></i>
            </a>
            <a class="noUnderline me-4 text-reset" href="https://www.facebook.com/mitch.duffy.58/"
                role="button">
                <i id="fb" class="fa-brands fa-facebook fa-lg"></i>
            </a>
            <!-- <a class="noUnderline me-4 text-reset" 
                href="https://twitter.com/mduffyfootball" role="button">
                <i id="twit" class="fa-brands fa-twitter fa-lg"></i>
            </a> -->
            <a class="noUnderline me-4 text-reset" href="https://github.com/duffymitch12"
                role="button">
                <i id="github" class="fa-brands fa-github fa-lg"></i>
            </a>
        </div>
        <div class="col col-2"></div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 id="footHead" class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Info
                    </h6>
                    <p id="bod">
                        Last edited: 1/31/2024
                        Mitchell Duffy
                    </p>
                </div>
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 id="footHead" class="text-uppercase fw-bold mb-4">Contact Info</h6>

                    <p id="bod"><i class="fa-solid fa-mobile me-3"></i> 248-894-5884</p>
                    <p id="bod">
                        <i class="fa-solid fa-envelope me-3"></i>
                        School: Duffymit@umich.edu
                    </p>
                    <p id="bod">
                        <i class="fa-solid fa-envelope me-3"></i>
                        Personal: Duffymitch12@gmail.com
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 Copyright:
            <p class="text-reset fw-bold">Mitchell Duffy</p>
        </div>
        <!-- Copyright -->
</footer>
<!-- Footer -->

</html>