<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/5cae555ba3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <div id="pageTitle" class="text-bg-light p-3">
        <div class="container-fluid text-center">
            <h1 id="pageTitle" class="">Mitchell Duffy</h1>
            <h3 id="other">Student @ The University of Michigan</h3>
        </div>