<%- include('partials/head') %>
    <%- include('partials/navbar') %>
        <div class="container-fluid text-center">
            <h2 id="subHeading">A Little Bit About Me</h2>
            <p id="other">Hey everybody! As you probably know by now my name is Mitchell Duffy and I
                am an upcoming Junior at the University of Michigan. I could tell you all about the
                cool and fun stuff about me and you would probably be asleep by the end. So I
                decided to give you a bunch of pictures to gaze upon. Because after all....pictures
                are
                worth a thousand words. Hope you enjoyed my website!</p>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
        <div class="carousel-item">
            <img src="photos/carousel/family" alt="Family">
            <div class="carousel-caption d-none d-md-block">
                <h5>Family</h5>
                <p>Chicago, IL</p>
            </div>
            <div class="carousel-item">
                <img src="photos/carousel/family2" alt="Family2">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>Family</h5>
                <p>Chicago, IL</p> -->
                </div>
                <div class="carousel-item">
                    <img src="photos/carousel/friends" alt="friends">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Friends</h5>
                        <!-- <p>...</p> -->
                    </div>
                    <div class="carousel-item">
                        <img src="photos/carousel/friends2" alt="friends2">
                        <div class="carousel-caption d-none d-md-block">
                            <!-- <h5>...</h5>
                <p>...</p> -->
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="photos/carousel" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>...</h5>
                            <p>...</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="photos/carousel/hsport" alt="hsport">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Activities</h5>
                            <p>Played Football in High School, picture after the cancer awareness
                                game. Had my uncle on my jersey.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="photos/carousel/hsport2" alt="hsport2">
                        <div class="carousel-caption d-none d-md-block">
                            <!-- <h5>...</h5> -->
                            <p>Also ran hurdles back in High School.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="photos/carousel/boyne" alt="boyne">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Trips</h5>
                            <p>Took a trip with my friends to boyne two winters ago.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="photos/carousel" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>...</h5>
                            <p>...</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="photos/carousel" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>...</h5>
                            <p>...</p>
                        </div>
                    </div>
</div>

                    <%- include('partials/footer') %>