<%- include('partials/head') %>
    <%- include('partials/navbar') %>
        <div class="container-fluid text-center">
            <h2 id="subHeading">A Little Bit About Me</h2>
            <p id="other">Hey everybody! As you probably know by now my name is Mitchell Duffy and I
                am an upcoming Junior at the University of Michigan. I could tell you all about the
                cool and fun stuff about me and you would probably be asleep by the end. So I
                decided to give you a bunch of pictures to gaze upon. Because after all....pictures
                are
                worth a thousand words. Hope you enjoyed my website!</p>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col col-4">
                    <img src="photos/carousel/family.JPG" alt="" class="img-fluid rounded mx-auto d-block">
                </div>
                <div class="col col-4">
                    <img src="photos/carousel/family2.JPG" alt="" class="img-fluid rounded mx-auto d-block">
                </div>
                <div class="col col-4">
                    <img src="photos/carousel/Cali.JPG" alt="" class="img-fluid rounded mx-auto d-block">
                </div>
                
            </div>
            <div class="row">
                <div class="col col-4">
                    <img src="photos/carousel/hsport.JPG" alt="" class="img-fluid rounded mx-auto d-block">
                </div>
                <div class="col col-4">
                    <img src="photos/carousel/hsport2.JPG" alt="" class="img-fluid rounded mx-auto d-block">
                </div>
                <div class="col col-4">
                    <img src="photos/carousel/cousin.jpg" alt="" class="img-fluid rounded mx-auto d-block">
                </div>
            </div>
            <div class="row">
                <div class="col col-4">
                    <img src="photos/carousel/boyne.JPG" alt="" class="img-fluid rounded mx-auto d-block">
                </div>
                <div class="col col-4">
                    <img src="photos/carousel/junior.JPG" alt="" class="img-fluid rounded mx-auto d-block">
                </div>
                <div class="col col-4">
                    <img src="photos/carousel/friends2.jpg" alt="" class="img-fluid rounded mx-auto d-block">
                </div>
            </div>
            <div class="row">
                <div class="col col-4">
                    <img src="photos/carousel/friends.JPEG" alt="" class="">
                </div>
                <div class="col col-4">
                    <img src="photos/carousel/cypress.JPEG" alt="" class="">
                </div>
                <div class="col col-4">
                    <img src="photos/carousel/chairlift.JPEG" alt="" class="">
                </div>
            </div>
            
        </div>

        <%- include('partials/footer') %>