<%- include('partials/head') %>
    <%- include('partials/navbar') %>
        <div class="container-fluid text-center">
            <hr id="spacer">
            
            <h2 id="sectionHead" class="text-center"><i class="fa-solid fa-people-group"></i>A Little Bit About Me</h2>
            
            <hr id="spacer">
            <p id="other">Hey everybody! As you probably know by now my name is Mitchell Duffy and I
                am an upcoming Junior at the University of Michigan. I could tell you all about the
                cool and fun stuff about me and you would probably be asleep by the end. So I
                decided to give you a bunch of pictures to gaze upon. Because after all....pictures
                are
                worth a thousand words. Hope you enjoyed my website!</p>
        </div>
        <hr id="spacer">

        <div class="container-fluid">
            <div class="row">
                <div class="col col-4">
                    <img src="photos/carousel/family.JPG" alt=""
                        class="img-fluid rounded mx-auto d-block">
                </div>
                <div class="col col-4">
                    <img src="photos/carousel/family2.JPG" alt=""
                        class="img-fluid rounded mx-auto d-block">
                </div>
                <div class="col col-4">
                    <img src="photos/carousel/Cali.JPG" alt=""
                        class="img-fluid rounded mx-auto d-block">
                </div>

            </div>
            <hr id="spacer">
            <hr id="spacer">
            <div class="row">
                <div class="col col-4">
                    <img src="photos/carousel/junior.JPG" alt=""
                        class="img-fluid rounded mx-auto d-block">
                </div>
                <div class="col col-4">
                    
                    <div class="container-fluid text-center">
                        <img src="https://images.unsplash.com/photo-1516035069371-29a1b244cc32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FtZXJhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60"
                            alt="" class="img-fluid rounded mx-auto d-block">

                    </div>
                    
                </div>
                <div class="col col-4">
                    <img src="photos/carousel/funny.jpg" alt=""
                        class="img-fluid rounded mx-auto d-block">
                </div>

            </div>
            <hr id="spacer">
        
            <div class="row">
                <div class="col col-4">
                    <img src="photos/carousel/hsport.JPG" alt=""
                        class="img-fluid rounded mx-auto d-block">
                </div>
                <div class="col col-4">
                    <img src="photos/carousel/hsport2.JPG" alt=""
                        class="img-fluid rounded mx-auto d-block">
                </div>
                <div class="col col-4">
                    <img src="photos/carousel/cousin.jpg" alt=""
                        class="img-fluid rounded mx-auto d-block">
                </div>
            </div>
            <hr id="spacer">
            
            <div class="row">
                <div class="col col-4">
                    <img src="photos/carousel/friends3.JPG" alt=""
                        class="img-fluid rounded mx-auto d-block">
                </div>
                <div class="col col-4">
                    <img src="https://images.unsplash.com/photo-1508788397430-55907b348ba8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmVkd29vZHN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"
                        alt="" class="img-fluid rounded mx-auto d-block">
                </div>

                <div class="col col-4">
                    <img src="photos/carousel/friends2.jpg" alt=""
                        class="img-fluid rounded mx-auto d-block">
                </div>
            </div>

        </div>

        <%- include('partials/footer') %>