
<%- include('partials/head') %> 
<%- include('partials/navbar') %>
<div class="container-fluid text-center">
    <h2 id="subHeading">A Little Bit About Me</h2>
    <p id="other">Hi my name is Mitchell Duffy a current Junior at the University of Michigan,
        completing a Bachelors of Science in Computer Science. Outside of the professional and school
        scope of things I like to spend my free time creating projects like this website to apply many
        concepts I have learned. I also like to compete a lot, mostly in golf with my friends.</p>
</div>
    
<%- include('partials/footer') %>
