<%- include('partials/head') %>
    <%- include('partials/navbar') %>
    <hr id="spacer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="img-fluid rounded mx-auto" src="photos/Pro_pic.jpg" alt="Professional Picture">
                </div>
                <div class="col">
                    <h2 id = "sectionHead">Objective Statement</h2>
                    <p id="other">Driven leader and team member that collaborates well with diverse teams and
                        leverages technical
                        skills to
                        foster productive and creative working environments and achieve goals.
                        Lifelong learner that
                        actively seeks
                        out new knowledge and ideas to create greater understanding of tasks and
                        future world. Pursuing a
                        chance to
                        be a part innovative and creative group willing to take on challenges and
                        persevere, all to create a
                        better
                        world.
                    </p>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>