<%- include('partials/head') %>
    <%- include('partials/navbar') %>
        <hr id="spacer">
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <img class="img-fluid rounded mx-auto" src="photos/Pro_pic.jpg"
                        alt="Professional Picture">
                </div>
                <div class="col-5">
                    <h2 id="sectionHead">Objective Statement</h2>
                    <p id="other">Hello everybody - my name is Mitchell Duffy I am a current student
                        at the University of Michigan
                        with Junior Standing majoring in Computer Science. Professionally my goal is
                        to change the world for
                        the better and to do some cool things with cool people along the way.
                        Creating or being a part of a
                        challenging and different environment that produces new and crazy ideas that
                        might put a dent in the
                        ever-changing world. I really like catering user experiences and building
                        applications and programs. My experience lies mostly in Web Development with
                        my personal
                        website and work experience. I hope to use my website in the near future as
                        a platform to learn Tailwind CSS. That being said I love to learn and try
                        new things out and the hitches or challenges that come with it. I do like to
                        stay active
                        playing basketball, snowboarding and skiing in the winter. I recently went
                        to Heavenly Tahoe and it was such a great time. health is very important to
                        me. I Love to watch football and
                        basketball and the occassional subpar golf round on
                        the days those sports are not on. My hobbies mostly are coincided with
                        getting out in the world and enjoying life. 
                    </p>
                    <p id="other">
                        - I hope you enjoy the website
                        and would love for feedback on ways I
                        could improve, via email! and with that I will let you search through
                        the website.
                    </p>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <%- include('partials/footer') %>