<%- include('partials/head') %>

    <%- include('partials/navbar') %>
        <!-- Projects -->
        <hr id="spacer">
        <div class="container-fluid text-center">
            <h2 id="sectionHead">Projects</h2>
        </div>
        <hr id="spacer">
        <hr id="spacer">
        <hr id="spacer">
        <!-- projects could use PERSONAL WEBSITE, PIAZZA POST CLASSIFIER, SOLITAIRE, PATIO-->
        <div class="container-fluid">
            <div class="row">
                <div class="col col-4">
                    <img class="img-fluid rounded mx-auto" src="/photos/classify.jpeg" alt="">
                </div>
                <div class="col col-8">
                    <h2 id="company">Piazza Post Classifier</h2>
                    <h3 id="other">University of Michigan - Ann Arbor, MI</h3>
                    <h3 id="italic">Jun. 2022</h3>
                    <p id="other">
                        I got the opportunity to create a application that categorizes posts or
                        queries using Machine Learning AI. That had a "teaching" stage so the
                        machine can learn and then a display stage of the machine(program) using
                        real world data sets. With the use of nested Binary Search
                        Trees, dynamic memory and other various data structures to optimize a faster
                        way to
                        categorize posts than doing it manually. It was a very fun and challenging
                        project and was my first brush with
                        Machine Learning and definitely not my last.
                    </p>
                    <p id="italic">Techinical Skills: C++, GitLab, Mac Terminal, Valgrind and
                        Address Sanitizer
                        to debug dynamic memory problems</p>
                </div>
            </div>
        </div>
        <hr id="spacer">
        <hr id="spacer">
        <hr id="spacer">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-8">
                    <h2 id="company">Personal Website</h2>
                    <h3 id="italic">Jun. 2022</h3>
                    <p id="other">I Always wanted to create a personal website, and have taken a web
                        developer
                        bootcamp to learn how too. Recently decided to create one because of the
                        summer. Also to
                        apply the concepts I learned in the bootcamp in a useful and fun way.</p>
                    <p id="italic">Techinical Skills: HTML, CSS, JavaScript, Node.js, JQuery,
                        Bootstrap, Express
                    </p>
                </div>
                <div class="col col-4">
                    <img class="img-fluid rounded mx-auto" src="/photos/website.jpg" alt="">
                </div>
            </div>
        </div>
        <hr id="spacer">
        <hr id="spacer">
        <hr id="spacer">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-4">
                    <img class="img-fluid rounded mx-auto" src="/photos/Shamrocks.jpeg" alt="">
                </div>
                <!-- CLOVER ICON -->
                <!-- <i class="fa-solid fa-clover"></i> -->
                <div class="col col-8">
                    <h2 id="company">Solitaire</h2>
                    <h3 id="other">Michigan State University - East Lansing, MI</h3>
                    <h3 id="italic">Dec. 2021</h3>
                    <p id="other">I created a program/application that lets you play Shamrocks
                        Solitaire. I used many different data structures like classes to create the
                        deck suits and ranks of cards, functions, etc. to create functions to move
                        cards from stack to stack, from stack to tableu where you order the cards,
                        and also a functionality to undo moves.</p>
                    <p id="italic">Techinical Skills: Python</p>
                </div>
            </div>
        </div>
        <hr id="spacer">
        <hr id="spacer">
        <hr id="spacer">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-8">
                    <h2 id="company">Patio</h2>
                    <h3 id="other">My Lake House - Holly, MI</h3>
                    <h3 id="italic">July 2020</h3>
                    <p id="other">During the summer of the beginning of the pandemic I decided to
                        build a patio,
                        knowingly that I had not experience in doing so. Decided to research and
                        create an
                        almost concrete plan with a design, amount of materials needed, and
                        estimated cost. I
                        gathered my friends and we started building the patio, it took about a
                        couple weeks. Was
                        probably the most fun I have had ever being able to learn how to do
                        something while you
                        are doing it and given the ability to just create something of your own quite literally from the ground up.
                    </p>
                </div>
                <div class="col col-4 ">
                    <img class="img-fluid rounded mx-auto d-block" src="/photos/patioFinish.JPG"
                        alt="">
                </div>
            </div>
        </div>
        <hr id="spacer">

        <%- include('partials/footer') %>