<%- include('partials/head') %>

    <%- include('partials/navbar') %>
        <!-- Projects -->
        <hr id="spacer">
        <div class="container-fluid text-center">
            <h2 id="sectionHead">Projects</h2>
        </div>
        <hr id="spacer">
        <hr id="spacer">
        <hr id="spacer">
        <!-- <div class="container-fluid">
            <div class="row">
                <div class="col col-4">
                    <img class="img-fluid mx-auto rounded shadow" src="/photos/classify.jpeg"
                        alt="">
                </div>
                <div class="col col-8">
                    <h2 id="company">Insta485 Website</h2>
                    <h3 id="other">University of Michigan - Ann Arbor, MI</h3>
                    <h3 id="italic">Oct. 2023</h3>
                    <p id="other">
                        I led a team to create a website based off Instagram. We built this website
                        with a SQL database and Restful API backend to query user data implemented
                        with Flask. For the frontend we used Jinja2 templating for half the pages
                        and React templating for the main pages. We created React components such as
                        InfiniteScroll for the home feed page along with pagination.
                    </p>
                    <p id="italic">
                        Techinical Skills: Flask, React, Jinja2, RESTAPI, Git, and Pagination
                    </p>
                </div>
            </div>
        </div>
        <hr id="spacer">
        <hr id="spacer">
        <hr id="spacer"> -->
        <div class="container-fluid">
            <div class="row">
                <div class="col col-8">
                    <h2 id="company">StudySesh IOS Mobile App</h2>
                    <h3 id="other">Spartahack9 - East Lansing, MI</h3>
                    <h3 id="italic">Jan. 2024</h3>
                    <p id="other">
                        I participated in a 30-hour straight hackathon where we decided to learn how
                        to use SwiftUI and Firebase Firestore to build our idea of a study group app
                        from the ground up. An app that eases students process for getting help with
                        their classes by providing study groups for those classes where they can
                        post questions and receive feedback from other university members (students
                        and instructors).

                        I broke down the project into different parts and components and was able to
                        divide them evenly amongst our team. This allowed us to be as efficient as
                        possible in the short amount of time that was given to us to build up our
                        project/app. This was a big challenge learning a new technology but we took
                        it with open arms and are proud that we are familiar with SwiftUI and
                        Firebase Firestore now. As well as the opportunity to build something
                        meaningful to apply those skills.
                    </p>
                    <p id="italic">Techinical Skills: Swift, SwiftUI, Firebase Firestore, Git,
                        Leadership, Collaboration, and Project Management</p>
                    <div>
                        <a id="link-proj" href="https://github.com/tkramer21/StudySesh">-> GitHub
                            Repository</a>
                    </div>
                </div>
                <div class="col col-4">
                    <img class="img-fluid mx-auto rounded shadow" src="/photos/studySesh-home.png"
                        alt="">
                </div>
            </div>
        </div>
        <hr id="spacer">
        <hr id="spacer">
        <hr id="spacer">
        <!-- projects could use PERSONAL WEBSITE, PIAZZA POST CLASSIFIER, SOLITAIRE, PATIO-->
        <div class="container-fluid">
            <div class="row">
                <div class="col col-4">
                    <img class="img-fluid mx-auto rounded shadow" src="/photos/classify.jpeg"
                        alt="">
                </div>
                <div class="col col-8">
                    <h2 id="company">Piazza Post Classifier</h2>
                    <h3 id="other">University of Michigan - Ann Arbor, MI</h3>
                    <h3 id="italic">Jun. 2022</h3>
                    <p id="other">
                        I got the opportunity to create a application that categorizes posts or
                        queries using Machine Learning AI. That had a "teaching" stage so the
                        machine can learn and then a display stage of the machine(program) using
                        real world data sets. With the use of nested Binary Search
                        Trees, dynamic memory and other various data structures to optimize a faster
                        way to
                        categorize posts than doing it manually. It was a very fun and challenging
                        project and was my first brush with
                        Machine Learning and definitely not my last.
                    </p>
                    <p id="italic">Techinical Skills: C++, GitLab, Mac Terminal, Valgrind and
                        Address Sanitizer
                        to debug dynamic memory problems</p>
                </div>
            </div>
        </div>
        <hr id="spacer">
        <hr id="spacer">
        <hr id="spacer">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-8">
                    <h2 id="company">Personal Website</h2>
                    <h3 id="italic">Jun. 2022</h3>
                    <p id="other">I Always wanted to create a personal website, and have taken a web
                        developer
                        bootcamp to learn how too. Recently decided to create one because of the
                        summer. Also to
                        apply the concepts I learned in the bootcamp in a useful and fun way. I
                        utilized many different things mainly dynamic html which allowed for
                        templating and the deletion of repetitive code. Which greatly made the
                        creation process much shorter.</p>
                    <p id="italic">Techinical Skills: HTML, CSS, JavaScript, Node.js, JQuery,
                        Bootstrap, Express
                    </p>
                </div>
                <div class="col col-4">
                    <img class="img-fluid mx-auto rounded shadow" src="/photos/website.jpg" alt="">
                </div>
            </div>
        </div>
        <hr id="spacer">
        <hr id="spacer">
        <hr id="spacer">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-4">
                    <img class="img-fluid mx-auto rounded shadow" src="/photos/shamrocks.jpeg"
                        alt="">
                </div>
                <!-- CLOVER ICON -->
                <!-- <i class="fa-solid fa-clover"></i> -->
                <div class="col col-8">
                    <h2 id="company">Map Reduce Search Engine Optimization</h2>
                    <h3 id="other">Michigan - Ann Arbor, MI</h3>
                    <h3 id="italic">Dec. 2021</h3>
                    <p id="other">I created a program/application that lets you play Shamrocks
                        Solitaire. I used many different data structures like classes to create the
                        deck suits and ranks of cards, functions, etc. to create functions to move
                        cards from stack to stack, from stack to tableu where you order the cards,
                        and also a functionality to undo moves.</p>
                    <p id="italic">Techinical Skills: Flask, Multi-threaded Programming, Html, </p>
                </div>
            </div>
        </div>
        <hr id="spacer">
        <hr id="spacer">
        <hr id="spacer">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-8">
                    <h2 id="company">Patio</h2>
                    <h3 id="other">My Lake House - Holly, MI</h3>
                    <h3 id="italic">July 2020</h3>
                    <p id="other">During the summer of the beginning of the pandemic I decided to
                        build a patio,
                        knowingly that I had not experience in doing so. Decided to research and
                        create an
                        almost concrete plan with a design, amount of materials needed, and
                        estimated cost. I
                        gathered my friends and we started building the patio, it took about a
                        couple weeks. Was
                        probably the most fun I have had ever being able to learn how to do
                        something while you
                        are doing it and given the ability to just create something of your own
                        quite literally from the ground up.
                    </p>
                </div>
                <div class="col col-4 ">
                    <img class="img-fluid mx-auto rounded shadow" src="/photos/patioFinish.JPG"
                        alt="">
                </div>
            </div>
        </div>
        <hr id="spacer">

        <%- include('partials/footer') %>